In [10]:
def test():
    pass

In [11]:
test

In [12]:
test()

In [13]:
def test1():
    print("this is my function")

In [14]:
test1()
test1()
test1()

this is my function
this is my function
this is my function

In [15]:
for i in range(0,10):
    test1()

this is my function
this is my function
this is my function
this is my function
this is my function
this is my function
this is my function
this is my function
this is my function
this is my function

In [16]:
def test2(a,b):
    print(a,b)

In [17]:
test2

In [18]:
test2()

TypeError: test2() missing 2 required positional arguments: 'a' and 'b'

In [19]:
len

In [20]:
len()

TypeError: len() takes exactly one argument (0 given)

In [21]:
test2("raj",25)

raj 25

In [22]:
def test3(a,b,c,d,e,f):
    print(a,c,e,a)

In [23]:
test3([1,2,3],(2,3,4,5),{"name":"raj","score": 617}, 3+4j,3.45, {2,3,4,5,5,3,})

[1, 2, 3] {'name': 'raj', 'score': 617} 3.45 [1, 2, 3]

In [24]:
def test4(b,y = "raj"):
    print(b,y)

In [25]:
test4(25)

25 raj

In [26]:
test4(25, "Himanshu")

25 Himanshu

In [27]:
def test5(b,v):
    "This is my own function"
    print("python",b,v)

In [28]:
test5(3.6, "is an easy language")

python 3.6 is an easy language

In [29]:
test5(3, "in jupyter")

python 3 in jupyter

In [30]:
def test6(a,t):
    print("sfknsf sffjns")

In [31]:
test6("kuch","bhi")

sfknsf sffjns

In [32]:
type(test6("d","f"))

sfknsf sffjns

NoneType

In [33]:
def test7():
    print("my name is:")

In [34]:
test7() + "Himanshu"

my name is:

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [35]:
type(test7())

my name is:

NoneType

In [36]:
print(type(str(test7())))

my name is:
<class 'str'>

In [37]:
str(test7()) + "raj"

my name is:

'Noneraj'

In [38]:
type(print("dasha"))

dasha

NoneType

In [39]:
def test8(a,b):
    return a

In [40]:
test8(25,"raj")

25

In [41]:
type(test8(25,"raj"))

int

In [42]:
test8(25,"raj") + 35

60

In [43]:
def test9():
    return ("My name is")

In [44]:
test9()

'My name is'

In [45]:
type(test9())

str

In [46]:
test9() + " Himanshu"

'My name is Himanshu'

In [47]:
def test10(a,b):
    return (a,b**b)

In [48]:
test10(1,2)

(1, 4)

In [49]:
test10(2,2)

(2, 4)

In [50]:
test10(2,3)

(2, 27)

In [51]:
type(test10(2,3))

tuple

In [52]:
def test11(a,b):
    return a ,b**b , a/b , b/a , a**3

In [53]:
test11(1,2)

(1, 4, 0.5, 2.0, 1)

In [54]:
test11(2,3)

(2, 27, 0.6666666666666666, 1.5, 8)

In [55]:
test11(2,3)[2]

0.6666666666666666

In [56]:
for i in test11(2,3):
    print(i)

2
27
0.6666666666666666
1.5
8

In [57]:
def test11(a,b):
    return a,b,a*b

In [58]:
test11("raj",2)

('raj', 2, 'rajraj')

In [59]:
def test12(a,b,c):
    return a,b,c

In [60]:
m,p,q = test12(40,50,60)

In [61]:
m

40

In [62]:
m,p

(40, 50)

In [63]:
def test13(b,n):
    """this is the fnction created by me and it takes two arguments"""
    c = b*n
    return c

In [64]:
test13(5,4)

20

In [65]:
test13("raj ",3)

'raj raj raj '

In [66]:
def test0(b):
    c = []
    for i in b:
        c.append(i)
    return c,c

In [68]:
l = input()
test0(l)

10

(['1', '0'], ['1', '0'])

In [69]:
test0([1,2,3])

([1, 2, 3], [1, 2, 3])

In [70]:
 x = test0(("raj",34,31,"sahu"))

In [71]:
x

(['raj', 34, 31, 'sahu'], ['raj', 34, 31, 'sahu'])

In [72]:
type(x)

tuple

In [73]:
a = input()
test0(a)

10

(['1', '0'], ['1', '0'])

In [74]:
def test14(dictIn):
    l = []
    for i in dictIn.values():
        if type(i) == str:
            l.append(i)
    return l

In [75]:
test14({"a" : 14, "name" : "raj"})

['raj']

In [76]:
def test15(dictIn):
    l = []
    for i in dictIn.values():
        if type(i) == int:
            l.append(i)
    return l

In [77]:
test15({"a" : 14, "name" : "raj"})

[14]

In [78]:
y = {"a" : 14, "name" : "raj"}
if type(y) == str:
    test14(y)
else:
    print("I/P is not dict")

I/P is not dict

In [79]:
def test16():
    name = input("enter the name")
    mail_id = input("enter the mail id")
    phone_no = int(input("enter phone no"))
    return({"Name":name,"mail_id":mail_id,"phone_no":phone_no})

In [81]:
print(test16())

enter the nameds ms
enter the mail idjsn
enter phone no73982
{'Name': 'ds ms', 'mail_id': 'jsn', 'phone_no': 73982}

In [82]:
# with the help of zip
def information_(name,mail,phone):
    l1 = ["name","mail_id","phone_no"]
    l2 = [name,mail,phone]
    d = {}
    for i,j in zip(l1,l2):
        d[i] = j
    return d
name = input("name")
mail = input("mail_id")
phone = int(input('enter number'))

print(information_(name,mail,phone))

namenjksdk
mail_idsndknas
enter number722227373
{'name': 'njksdk', 'mail_id': 'sndknas', 'phone_no': 722227373}

In [83]:
def test17(*args):
    return args

In [84]:
test17("raj",25,2+3j,34.5)

('raj', 25, (2+3j), 34.5)

In [85]:
def test18(*args,a,b):
    return a+b

In [86]:
test18(2,3)

TypeError: test18() missing 2 required keyword-only arguments: 'a' and 'b'

In [87]:
test18(a = 2, b = 3)

5

In [88]:
def test19(*args):
    if len(args) > 0:
        for i in args:
            print(i)

In [89]:
test19("raj",25,True,"himanshu")

raj
25
True
himanshu

In [90]:
print(test19("raj",25,True,"himanshu"))

raj
25
True
himanshu
None

In [91]:
def test20(*kuchbhi, a,b):
    z = ""
    for i in kuchbhi:
        z = z + str(i)
        return z ,a+b     #loop se bahar nahi aaya

In [92]:
test20(1,2,3,4,5, a = 10, b = 5)

('1', 15)

In [93]:
def test21(*kuchbhi, a,b):
    z = ""
    for i in kuchbhi:
        z = z + str(i)
    return z ,a+b        #loop se bahar hai

In [94]:
test21(1,2,3,4,5, a = 10, b = 5)

('12345', 15)

In [95]:
def function_(*raj):
    return raj

In [96]:
function_()   #it gives tuple

()

In [97]:
function_(2,3,4,6,78)

(2, 3, 4, 6, 78)

In [98]:
def test22(**kwargs):
    return kwargs

In [99]:
test22()   #it gives dictionary

{}

In [100]:
test22(22)

TypeError: test22() takes 0 positional arguments but 1 was given

In [101]:
test22(a = 22)   #key value pair

{'a': 22}

In [102]:
test22(name = "Himanshu", age = 25, b = (2,3,4))

{'name': 'Himanshu', 'age': 25, 'b': (2, 3, 4)}

In [103]:
def func(**kwargs):
    if len(kwargs)>0:
        for i in kwargs:
            print(i) 
    return kwargs

In [104]:
func()

{}

In [105]:
func(name = 'raj', age = 25, email = "dkjckja")

name
age
email

{'name': 'raj', 'age': 25, 'email': 'dkjckja'}

In [106]:
def test23(**kwargs):
    for i in kwargs.values():
        if type(i) == list:
            print(i)
#     return kwargs

In [107]:
test23(a = (2,3,45,6), raj = [83,23,56,True,34.5,3+4j], n = {"name":"raj"})

[83, 23, 56, True, 34.5, (3+4j)]

In [108]:
def test23(**kwargs):
    for i in kwargs.values():
        if type(i) == list:
            print(i)
    return kwargs

In [109]:
test23(a = (2,3,45,6), raj = [83,23,56,True,34.5,3+4j], n = {"name":"raj"})

[83, 23, 56, True, 34.5, (3+4j)]

{'a': (2, 3, 45, 6),
 'raj': [83, 23, 56, True, 34.5, (3+4j)],
 'n': {'name': 'raj'}}

In [110]:
a = 7
b = 8
def test24(a,b):
    return a+b

In [111]:
test24(a,b)

15

### lambda input : return

In [112]:
x = lambda a,b : (a+b)

In [113]:
x(9,10)

19

In [114]:
x(a,b)    #predifined a and b

15

In [115]:
s = lambda a,n : a**n

In [116]:
s(2,3)

8

In [117]:
b = lambda *args : args

In [118]:
b('raj', "multiple_arguments", 23, True, 23.5)

('raj', 'multiple_arguments', 23, True, 23.5)

In [119]:
c = lambda **kwargs : kwargs

In [120]:
c(name = "raj", age = 25, )

{'name': 'raj', 'age': 25}

In [121]:
# for loop in lambda function

In [122]:
# list comprehension
c1 = lambda *args : [i for i in args]

In [123]:
c1(1,2,3,4,5,6)

[1, 2, 3, 4, 5, 6]

In [124]:
c2 = lambda *args : [i**2 for i in args]

In [125]:
c2(1,2,3,4,5,6)

[1, 4, 9, 16, 25, 36]

In [126]:
# dictionary comprehension
c3 = lambda *args : {i : i**2 for i in args}

In [127]:
c3(1,2,3,4,5,6)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

### Creating a list

In [128]:
c4 =list(range(10))

In [129]:
c4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [130]:
def c5(n):
    l = []
    for i in range(n):
        l.append(i)
    return l

In [131]:
c5(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
c6 = lambda n : [i for i in range(n)]
c6(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [134]:
ask = int(input("enter the number"))
l = []
for i in range(ask):
    l.append(i)
print(l)

enter the number10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [135]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [136]:
c = (2,3,4)
d = (6,7,8)
for i in zip(c,d):
    print(i)

(2, 6)
(3, 7)
(4, 8)

In [137]:
li = [22,34,56,78,64]
li1 = []
for i in li:
    li1.append(i+2)
print(li1)

[24, 36, 58, 80, 66]

In [138]:
li = [22,34,56,78,64]
[i+2 for i in li]

[24, 36, 58, 80, 66]

In [139]:
list(map(lambda a: a+2, li))

[24, 36, 58, 80, 66]

In [140]:
# map function takes map(function, iterable)
def addtwo(n):
    return n+2
map(addtwo, li)

In [141]:
list(map(addtwo, li))

[24, 36, 58, 80, 66]

In [142]:
lis = [1,2,3,4,"raj",6,8,"sahu"]

In [143]:
# converting all the data into str format by using map and lambda function
list(map(lambda i : str(i),lis))

['1', '2', '3', '4', 'raj', '6', '8', 'sahu']

In [144]:
def funct(n):
    if type(n) == int:
        n = str(n)
    else:
        n = n+" ok"
    return n

In [145]:
list(map(funct, lis))

['1', '2', '3', '4', 'raj ok', '6', '8', 'sahu ok']

In [156]:
def func(n):
    if type(n) == int:
        n = n + 2
    else:
        n = n+" ok"
    return n

In [147]:
list(map(func,lis))

[3, 4, 5, 6, 'raj ok', 8, 10, 'sahu ok']

In [158]:
# in form of lambda function
list(map(lambda a: a+2 if type(a) == int else a + " ok",lis))

[3, 4, 5, 6, 'raj ok', 8, 10, 'sahu ok']

In [148]:
def func(n):
    for i in n:
        if type(i) == int:
            i = i + 2
        else:
            i = i+" ok"
    return i

In [155]:
list(map(func,lis))

TypeError: 'int' object is not iterable

In [150]:
kk = [1,2,3,4,56,7]

In [151]:
for i in kk:
    if i == 2:
        continue
    print(i+2)

3
5
6
58
9

In [152]:
for i in lis:
    if type(i) == int:
        i = i + 2
    else:
        i = i+" ok"
    print(list(i))

TypeError: 'int' object is not iterable

In [153]:
for i in lis:
    if type(i) == int:
        i = i + 2
    else:
        i = i+" ok"
    print(i)

3
4
5
6
raj ok
8
10
sahu ok

In [154]:
g = []
for i in lis:
    if type(i) == int:
        i = i + 2
        g.append(i)
print(g)

[3, 4, 5, 6, 8, 10]

In [162]:
l3 = list(range(10))
a = 0
for i in l3:
    a = a + i
    print(a,i)
    i = i +1

0 0
1 1
3 2
6 3
10 4
15 5
21 6
28 7
36 8
45 9

In [166]:

a = 0 
for i in l3:
    a = a + i 
    print(a)

0
1
3
6
10
15
21
28
36
45

In [170]:
a = 0 
for i in l3:
    a = a +i 
print(a)

45

In [172]:
l4 = [34,54,65,78,46,84,68]
a = 0 
for i in l4:
    a = a + i
print(a)

429

In [174]:
a = 0 
for i in l4:
    a = a+i
    print(a,i)

34 34
88 54
153 65
231 78
277 46
361 84
429 68

In [179]:
a = 0 
for i in l4:
    a = a + i
    i = i + 1
    print(a,i)

34 35
88 55
153 66
231 79
277 47
361 85
429 69

In [180]:
a = 0 
for i in l4:
    i = i + 1
    a = a + i
    print(a,i)

35 35
90 55
156 66
235 79
282 47
367 85
436 69

In [181]:
# reduce function   reduce(function , iterabale)

In [182]:
from functools import reduce

In [187]:
reduce(lambda a,b : a+b,l4)

429

In [188]:
def addall(a,b):
    return a+b
reduce(addall,l4)

429

In [190]:
reduce(lambda a,b : a if a > b else b,l)

9

In [191]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [193]:
reduce(lambda a,b,c : a+b+c, l4)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [207]:
# filter function -Return an iterator yielding those items of iterable for which function(item) is true.
l4

[34, 54, 65, 78, 46, 84, 68]

In [234]:
list(filter(lambda a : a if type(a) == str else 0 , newlist))

['raj']

In [231]:
list(filter(lambda a : a if type(a) == int else -1 , newlist))

[1, 2, 3, 4, 6, 7, 8, 'raj']

In [235]:
list(filter(lambda a : a if type(a) == str else 0 , l4))

[]

In [236]:
list(filter(lambda a : a if type(a) == str else -1 , l4))

[34, 54, 65, 78, 46, 84, 68]

In [217]:
newlist = [1,2,3,4,6,7,8,'raj' ]
def tes(n):
    if type(n) == str:
        return n
    else:
        return "ok"

In [218]:
list(filter(tes,newlist))

[1, 2, 3, 4, 6, 7, 8, 'raj']

In [221]:
def fun(n):
    if type(n) == str:
        return True               #only true return 
    else:
        return False

In [222]:
list(filter(fun,newlist))

['raj']

In [240]:
def fun(n):
    if type(n) == int:
        return True               #only true return and here both the condition is true
    else:
        return True

In [239]:
list(filter(fun,newlist))

[1, 2, 3, 4, 6, 7, 8, 'raj']

In [225]:
list(filter(lambda a : True if type(a) == str else False ,newlist))

['raj']

In [227]:
list(filter(lambda a : a if a >= 55 else False ,l4))

[65, 78, 84, 68]

In [228]:
list(filter(lambda a : True if a >= 55 else False ,l4))

[65, 78, 84, 68]

In [266]:
# assignment
l5 = [1,2,3,4,5,'raj','sahu']

In [270]:
reduce(lambda a,b : str(a)+str(b),l5)

'12345rajsahu'

In [271]:
list(reduce(lambda a,b : str(a)+str(b),l5))

['1', '2', '3', '4', '5', 'r', 'a', 'j', 's', 'a', 'h', 'u']

In [274]:
print(list(filter(lambda a : True if type(a) == str and a.startswith('s') else False, l5)))

['sahu']

In [ ]:
def one(n):
    if type(n) == str:
        return True
    else:
        return False

In [289]:
list(filter(one,l5))

TypeError: one() missing 1 required positional argument: 'j'

In [292]:
def one(n):
    if type(n) == str:
        if (n[0] == "s" or n[0] == 'S'):
             return True
    else:
        return False

In [293]:
list(filter(one,l5))

['sahu']

In [296]:
def one1(n):
    if type(n) == str:
        if n.startswith('s') == True:
             return True
    else:
        return False

In [297]:
list(filter(one1,l5))

['sahu']

In [7]:
def tess(n):
    l = ['a','e','i','o','u']
    if n in l:
        return True
    else:
        return False

In [8]:
l6 = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']

In [9]:
fil = filter(tess,l6)
for s in fil:
    print(s)

e
e