In [7]:
v = 10+6j
v

(10+6j)

In [8]:
type(v)

complex

In [10]:
v.imag

6.0

In [8]:
c = True + True    #1+1 = 2
c

2

In [7]:
d = True + False #1+0
d

1

In [24]:
# sinhle line comment
'''multi
line
comments'''

'multi\nline\ncomments'

In [29]:
a = "himanshu's laptop"
print(a)

himanshu's laptop

In [34]:
name = "Himanshu"
name[0:5]   #slicing always exclude the upper bounds

'Himan'

In [32]:
name[0:5:2]

'Hmn'

In [33]:
name[::-1] #reversing

'uhsnamiH'

In [35]:
name[0:6:-1]  #we can't get any data - forward indexing & negative jumping -  both are in opposite direction

''

In [36]:
name[6:0:-1]  # we can get data - reverse indexing & negative jumping - both are in same directions

'hsnami'

**list** - collection of homogeneous or heterogeneous data sets

In [44]:
variable = []
type(variable)

list

In [43]:
print(variable)

[]

In [46]:
# list can be created by 
var = list()
type(var)

list

In [47]:
print(var)

[]

In [48]:
# but there is some difference between these two list they are not exactly the same

In [50]:
ac = [1,2,3,4,5] #homogeneous data set
ac

[1, 2, 3, 4, 5]

In [52]:
ab = [1,'raj',True,45.6, 4+2j]
ab

[1, 'raj', True, 45.6, (4+2j)]

In [53]:
#list store data as sequential indexes
ab[1]

'raj'

In [54]:
len(ab)

5

In [55]:
ab[::-1] #reversing the list

[(4+2j), 45.6, True, 'raj', 1]

In [57]:
type(ab)

list

In [56]:
type(ab[2])

bool

In [70]:
# we can also store list inside a list and acces that list too
abc = [1,'raj',True,45.6, 4+2j,[8,4,"python"]]
abc

[1, 'raj', True, 45.6, (4+2j), [8, 4, 'python']]

In [59]:
type(abc)

list

In [60]:
type(abc[5])

list

In [61]:
type(abc[4])

complex

In [62]:
print(abc[5])

[8, 4, 'python']

In [63]:
type(abc[5][2])

str

In [64]:
print(abc[5][2])

python

In [69]:
print(abc[5][::-1])

['python', 4, 8]

In [71]:
abc = [1,'raj',True,45.6, 4+2j,[8,4,"python"]]
print(abc[0:5])

[1, 'raj', True, 45.6, (4+2j)]

In [74]:
print(abc[-1:-5])  #it is giving me blank space because we are going from -1 to -5 which is possible but there
#is a default step size postive one so both are in opposite direction so it is giving me nothing.

[]

In [75]:
print(abc[-1:-5:-1])

[[8, 4, 'python'], (4+2j), 45.6, True]

In [76]:
range(10)

range(0, 10)

In [77]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
list(range(5,11))

[5, 6, 7, 8, 9, 10]

In [79]:
list(range(10,6))

[]

In [82]:
list(range(10,4,-1))  #we are going in reverse direction so we need to use negative step size

[10, 9, 8, 7, 6, 5]

In [84]:
list(range(3.5,11))

TypeError: 'float' object cannot be interpreted as an integer

In [85]:
#range function is not able to take floating point, we need to use numpy's arange function to get a list which include floating points

In [100]:
 l =list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [106]:
for i in l:
    print(i+2)

2
3
4
5
6
7
8
9
10
11

In [110]:
# but i need that manipulated new data as a list , so we will use append function
l = [1,2,3,4,5,6,7,8,9]
m=[]
for i in l:
    m.append(i+2)

In [111]:
print(m)    #i got a new list with manipulated data

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [39]:
ll = [0,3,5,3,2,6,7,4,7,4]  #extacting data from list by using range function in for loop
for i in range(len(ll)):
    print(ll[i])

0
3
5
3
2
6
7
4
7
4

In [11]:
# manipulating list in range function
ll = [0,3,5,3,2,6,7,4,7,4]
new_l = []
for i in range(len(ll)):
    new_l.append(ll[i]+2)

In [12]:
print(new_l)

[2, 5, 7, 5, 4, 8, 9, 6, 9, 6]

In [31]:
s = 10
if s > 10:
    print('no it is not greater than 10')
elif s==50:
    print('yes it is less than 50')
else:
    print('none of the above are correct')

none of the above are correct

In [32]:
ll = [1,2,3,4,6,7,8,4,34,'raj','sahu']
nl = []
for i in ll:
    if type(i)==str:
        print(i)

raj
sahu

In [33]:
ll = [1,2,3,4,6,7,8,4,34,'raj','sahu']
nl = []
for i in ll:
    if type(i)==str:
        nl.append(i)

In [34]:
nl

['raj', 'sahu']

In [36]:
s = 10
if s > 5:
    print('yes it is greater than 5')
    if type(s)==int:
        print("it is an integer value")
elif s==50:
    print('yes it is less than 50')
else:
    print('none of the above are correct')

yes it is greater than 5
it is an integer value

In [41]:
l = [1,2,3,4,4,5,6,4]
for i in l:
    print(i)
else:
    print('nothing has left in my collection')

1
2
3
4
4
5
6
4
nothing has left in my collection

In [3]:
i = 0
s = 0
while i <=10:
    s = s+i
    print(s)
    i = i+1

0
1
3
6
10
15
21
28
36
45
55

In [4]:
i = 0
s = 0 
while i <=10:
    s = s+i
    i = i+1
print(s)

55

In [8]:
i = 0
s = 0 
while i <=10:
    s = s+i
    print(i,s)          # it will show in every step how it is adding
    i = i+1
print(s) #also final print again printed

0 0
1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
55

In [13]:
var = "himanshu"
for x in var:
    print(x)

h
i
m
a
n
s
h
u

In [16]:
var = "Himanshu"
m = []
for x in var:
    m.append(x)
print(m)

['H', 'i', 'm', 'a', 'n', 's', 'h', 'u']

In [33]:
var = "himanshu"
for x in var:
    if x == "n":
        break
    print(x)
print('out of loop')

h
i
m
a
out of loop

In [46]:
var = "himanshu"
for x in var:
    if x =='n':
        break
    print(x)
else:
    print("i am able to extract the full data")
    
print('out of loop')

h
i
m
a
out of loop

In [47]:
var = "himanshu"
for x in var:
    if x =='z':
        break
    print(x)
else:
    print("i am able to extract the full data")
    
print('out of loop')

h
i
m
a
n
s
h
u
i am able to extract the full data
out of loop

In [48]:
# continue statement
var = "himanshu"
for x in var:
    if x == "n":
        continue
    print(x)
print("out of loop")

h
i
m
a
s
h
u
out of loop

In [61]:
# input functions always takes data in string formate only 
a = int(input('enter any value'))
l = [1,2,3,4,5,5,6,7,8,6,5,3,6,7,8,4.8,9,9,3]
new_list = []
for i in l:
    if i == a:
        new_list.append(i)
print(new_list)

enter any value3
[3, 3, 3]

In [5]:
a = int(input('enter any integer value'))
if type(a) == int:
    print("inserted integer")
l = [1,2,3,4,5,5,6,7,8,6,5,3,6,7,8,4.8,9,9,3]
new_list = []
for i in l:
    if i == a:
        new_list.append(i)
print(new_list)

enter any integer value3
inserted integer
[3, 3, 3]

In [6]:
#  + operator only perform in similar data type
[1,2,3,4,5]+['raj']

[1, 2, 3, 4, 5, 'raj']

In [7]:
# conncetination only apply with same data type
[1,2,3,4,5]+['raj']

[1, 2, 3, 4, 5, 'raj']

In [8]:
# multiplication in list 
[1,2,3,4,5]*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [9]:
H = "Himanshu"
H.upper()

'HIMANSHU'

In [10]:
H.lower()

'himanshu'

In [22]:
h = "my name is himanshu sahu"
h.split()                           #in final data it won't contain delimiter value

['my', 'name', 'is', 'himanshu', 'sahu']

In [26]:
h = "my name is himanshu sahu"
a = h.split()
print(a)
type(a)

['my', 'name', 'is', 'himanshu', 'sahu']

list

In [27]:
a[2]

'is'

In [33]:
# split function takes white space as seperator, so here it will make list but it isn't able to seperate it because no space
# delimiter = whitespace

h = "my@name@is@himanshu@sahu"
h.split()

['my@name@is@himanshu@sahu']

In [34]:
h = "my@name@is@Himanshu@sahu"
h.split('@')

['my', 'name', 'is', 'Himanshu', 'sahu']

In [35]:
h = "my#name@is@Himanshu@sahu"
h.split('#') # we can only use one delimiter at a time

['my', 'name@is@Himanshu@sahu']

# split and partition difference

In [38]:
a = "sdlasdEFdfmds"
a.split("EF")

['sdlasd', 'dfmds']

In [40]:
a = "sdlasdEFdfmds"
a.split()                   #it takes sep = none/whitespace by default

['sdlasdEFdfmds']

In [39]:
a = "sdlasdEFdfmds"
a.partition()               #it needs some sep value otherwise error,cant keep it blank

TypeError: partition() takes exactly one argument (0 given)

In [41]:
a = "sdlasdEFdfmds"
a.partition("EF")           #in final data it will contain delimiter also

('sdlasd', 'EF', 'dfmds')

In [42]:
# partition only consider for first encountered delimiter and split consider for every delimiter that it encounters

In [43]:
a = "sdlasdEFdDEFmds"
a.split('EF')

['sdlasd', 'dD', 'mds']

In [44]:
a.partition("EF")

('sdlasd', 'EF', 'dDEFmds')

In [46]:
d = "drilling fluid is used to lubricate the bit,fluid circulate the cuttings,fluid supports to keep wellbore stable by hydro press"
d.find('fluid')

9

In [47]:
d.find('fluid',10)

44

In [52]:
f = "RAJ"
f.center(10,"$")      #syntax .centre(width,fillcharacter)   fill

'$$$RAJ$$$$'

In [53]:
e = input("my name?")
print("my name is {}".format(e))

my name?Himanshu sahu
my name is Himanshu sahu

In [56]:
name = input("my name")
print(f"My name is {name}")

my nameRaj
My name is Raj

In [60]:
x = input("enter your first name")
y = input("enter your last name")
print("my name is {} {}".format(x,y))

enter your first nameRAJ
enter your last nameSAHU
my name is RAJ SAHU

In [66]:
# function start with is = try to check that data falls under that category or not if yes then true otherwise false
# always returns booleans value
S = "rajsahu"
s.isalnum()

True

In [67]:
s = "4343"
s.isalnum()

True

In [72]:
S_ = "rajsahu123"
s.isalnum()

True

In [70]:
S_.isalpha()

False

In [74]:
S_.islower()

True

In [75]:
f = "FCGFCGkm"
f.isupper()

False

In [77]:
F = "FCGFCG"
F.isupper()

True

In [78]:
F = "FCGFCG"
F.istitle()

False

In [80]:
F.endswith("g")

False

In [81]:
F.endswith("G")

True

In [85]:
A = [1,2,3,5,33,45.4,"RAJ",'SAHU', [4,3,2]]
B = [1,5,6,'HLS',"JOHN"]
for i in A:
    print(i)

1
2
3
5
33
45.4
RAJ
SAHU
[4, 3, 2]

In [5]:
A = [1,2,3,5,33,45.4,"RAJ",'SAHU', [4,3,2]]
B = [1,5,6,'HLS',"JOHN"]
m = []
for i in A:
    m.append(i)
m

[1, 2, 3, 5, 33, 45.4, 'RAJ', 'SAHU', [4, 3, 2]]

In [88]:
print(A+B)

[1, 2, 3, 5, 33, 45.4, 'RAJ', 'SAHU', [4, 3, 2], 1, 5, 6, 'HLS', 'JOHN']

In [89]:
B + "himanshu"

TypeError: can only concatenate list (not "str") to list

# difference b/w [] and list() formates

In [91]:
B + ["Himanshu"]

[1, 5, 6, 'HLS', 'JOHN', 'Himanshu']

In [92]:
B + list("Himanshu")

[1, 5, 6, 'HLS', 'JOHN', 'H', 'i', 'm', 'a', 'n', 's', 'h', 'u']

In [2]:
list([3])  #int is not iterable

[3]

In [2]:
D = [1,3,5,33,5.5,"TAX",'RAJ']
D

[1, 3, 5, 33, 5.5, 'TAX', 'RAJ']

In [3]:
D.append("Himanshu")     #append function will only add any thing at last place in the list

In [4]:
print(D)

[1, 3, 5, 33, 5.5, 'TAX', 'RAJ', 'Himanshu']

In [5]:
D.insert(4,"Hello")     #insert function can add any object at specific defined index
                        # and shift that index value to right hand side

In [6]:
print(D)

[1, 3, 5, 33, 'Hello', 5.5, 'TAX', 'RAJ', 'Himanshu']

In [7]:
D.insert(-1,"hello")

In [8]:
print(D)

[1, 3, 5, 33, 'Hello', 5.5, 'TAX', 'RAJ', 'hello', 'Himanshu']

In [25]:
D = [1,3,5,33,5.5,"TAX",'RAJ']

In [10]:
# i can also insert an intire list itself
len(D)

7

In [26]:
D.insert(7,[16,25,36])

In [27]:
print(D)

[1, 3, 5, 33, 5.5, 'TAX', 'RAJ', [16, 25, 36]]

In [28]:
D.pop()     #remove the last data or tail data from the list permanentely

[16, 25, 36]

In [29]:
print(D)

[1, 3, 5, 33, 5.5, 'TAX', 'RAJ']

In [30]:
D.pop(2)   #permanently remove the data from second index

5

In [39]:
# reversing the list  by    variable_name[::-1]
rlist = [3,5,2,'kksd',"phi","saturation"]         
rlist[::-1]                                    #can not change list permanently

['saturation', 'phi', 'kksd', 2, 5, 3]

In [42]:
print(rlist)         #here printed original list

[3, 5, 2, 'kksd', 'phi', 'saturation']

In [45]:
# reverssing the list by using reverse function
rlist.reverse()              #reverse the list permanently

In [44]:
print(rlist)        #here printed the chnaged list

['saturation', 'phi', 'kksd', 2, 5, 3]

In [62]:
# sort function - not supported when different data types are present - int & str or int & list
rl = [3,5,2,'kksd',"phi","saturation",[1,2,3,4]] 
r = [2,4,124,43.65,35,13,54,]
rn = ['kksd',"phi","saturation"]

In [49]:
rl.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [63]:
r.sort()         #by default accending order
r

[2, 4, 13, 35, 43.65, 54, 124]

In [65]:
r.sort(reverse=True)        #decending order
r

[124, 54, 43.65, 35, 13, 4, 2]

In [55]:
rn.sort()
rn

['kksd', 'phi', 'saturation']

In [144]:
al = [1,2,3,4,5,]
bl = [1,2,3,4,5,6]
cl = [1,2,3,4,5,6,7]

dl = [al,bl,cl]
print(dl)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7]]

In [145]:
# now i need to acces a data from a particula place like 3rd list ka 3rd data then using indexing
dl[2][2]

3

In [146]:
# or by using
dl[-1][2]

3

In [147]:
# if i want to get only alternate elements
dl[-1][::2]

[1, 3, 5, 7]

In [148]:
# i need to reverse each and every list inside the list 
dl

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7]]

In [149]:
x = dl[::-1]
x                      #reverse of first list

[[1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5]]

In [150]:
# now reversing the nested list 
 t = al[::-1]

In [151]:
 u = bl[::-1]

In [152]:
v = cl[::-1]

In [153]:
w =[v,u,t]

In [172]:
print(w)

[[7, 6, 5, 4, 3, 2, 1], [6, 5, 4, 3, 2, 1], [5, 4, 3, 2, 1]]

In [173]:
# above mentioned method is long method 
m =[]
dc = dl[::-1]
for i in dc:
    m.append(i[::-1])
print(m)

[[5, 4, 3, 2, 1], [6, 5, 4, 3, 2, 1], [7, 6, 5, 4, 3, 2, 1]]

In [177]:
m = []
dl.reverse()
for i in dl:
    m.append(i[::-1])
print(m)

[[7, 6, 5, 4, 3, 2, 1], [6, 5, 4, 3, 2, 1], [5, 4, 3, 2, 1]]

In [179]:
# removing data from particular index and making list
n =[]
for i in m:
    n.append(i[2])

In [180]:
print(n)

[5, 4, 3]

In [184]:
# removing data from particular index and perform any mathematicl operation and making list
a = []
for i in m:
    a.append(i[2]*2)

In [185]:
print(a)

[10, 8, 6]

In [186]:
# list comprehension - to reduce the code in a single line
[i[2]*2 for i in m]

[10, 8, 6]

In [189]:
f = [2,3,4,5,2,]                #it created the nested list 
f.append([2,2,3,5])
f

[2, 3, 4, 5, 2, [2, 2, 3, 5]]

In [195]:
fs = [2,3,4,5,2,"dsa"]        #it extended the previous list by adding the new lists objects into previous list
fs.extend([2,3,4,3])
print(fs)

[2, 3, 4, 5, 2, 'dsa', 2, 3, 4, 3]

In [196]:
fsa = [2,3,4,5,2,"dsa"]        #it extended the previous list by adding the new lists objects into previous list
fsa.extend([9,7,6,[2,3,4,3]])  #and it can only remove brackets of one list and the second list will be same
print(fsa)

[2, 3, 4, 5, 2, 'dsa', 9, 7, 6, [2, 3, 4, 3]]

In [198]:
fs.index(5)      #only give the index of first occurance

3

In [209]:
m = [8,7,6,5,4,3,2,1,[7, 6, 5, 4, 3, 2, 1]]

In [211]:
for i in m:
    if i == 3:
        m.remove(3)
    elif type(i) == list:
        i.remove(3)
    else:
        print("nothing left to remove")

nothing left to remove
nothing left to remove
nothing left to remove
nothing left to remove
nothing left to remove
nothing left to remove

In [212]:
print(m)      #removed 3, got new list

[8, 7, 6, 5, 4, 2, 1, [7, 6, 5, 4, 2, 1]]

In [259]:
new = [8,7,6,5,4,3,2,1,[7, 6, 5, 4, 3, 2, 1], [6, 5, 4, 3, 2, 1], [5, 4, 3, 2, 1]]
# for i in new:
#     if i == 1:
#         new.remove(1)
#     elif type(i) == list:
#         i.remove(1)

In [260]:
print(new)

[8, 7, 6, 5, 4, 3, 2, 1, [7, 6, 5, 4, 3, 2, 1], [6, 5, 4, 3, 2, 1], [5, 4, 3, 2, 1]]

In [289]:
# making the list of agiven string by removing unwanted , 
x = '2,,3,,4,,'

In [292]:
a=x.split(',')        #now it is in list formate, we need to remove the ,
a

['2', '', '3', '', '4', '', '']

In [295]:
type(a[1])       # every index have same data type str

str

In [296]:
len(a[0])     #length of 0 index data

1

In [297]:
len(a[1])      #length of 1 index data

0

In [304]:
X = []
for i in a:
    if len(i) != 0:
         X.append(i)
print(X)

['2', '3', '4']

In [305]:
# list comprehension
[i for i in [3,4,5,6,7]]

[3, 4, 5, 6, 7]

# TUPLES

In [306]:
L =[]
t = ()

In [307]:
type(L)

list

In [308]:
type(t)

tuple

In [310]:
Li =[1,2,3,4,"RAJ"]
Li

[1, 2, 3, 4, 'RAJ']

In [313]:
t = (1,2,3,4,"raj",45.3,True,4+5j)
t

(1, 2, 3, 4, 'raj', 45.3, True, (4+5j))

In [314]:
len(t)

8

In [315]:
t[7]

(4+5j)

In [316]:
t[0] = "sahu"

TypeError: 'tuple' object does not support item assignment

In [318]:
Li[0] = "sahu"
Li

['sahu', 2, 3, 4, 'RAJ']

In [2]:
# tuples and strings are immutable entities
var = "rajdahu"
var[3]

'd'

In [3]:
var[3] = 's'

TypeError: 'str' object does not support item assignment

In [8]:
tup = (1,2,3,4)
for i in tup:
    print(i)

1
2
3
4

In [14]:
for i in range(len(tup)):
    print(tup[i])

1
2
3
4

In [12]:
tup = (1,2,3,4)
for i in tup:
    print(tup)

(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)

In [13]:
lis =[1,2,3,4]
for i in lis:
    print(i)

1
2
3
4

In [14]:
lis =[1,2,3,4]
for i in lis:
    print(lis)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [15]:
tup.count(3)         #count function in tuple

1

In [25]:
tt = (1,2,3,4,5,5,3,3,5,3,2)

In [30]:
tt.index(5,7,10)        #.index(value,start,stop)

8

In [31]:
t2 =(1,2,3,4,5)
t3 = (5,6,7,8,9)

In [32]:
t2+t3

(1, 2, 3, 4, 5, 5, 6, 7, 8, 9)

In [35]:
# insert/append/extend/pop this is not supported in tuples
# now i have to add any data in tuple, how?
t3 =(1,2,3,4,5,6)
# convert tuple into list then insert data then again convert list to tuple

In [57]:
x1 = list(t3)
print(x1)

[1, 2, 3, 4, 5, 6]

In [59]:
x1.insert(1,"inserted")
print(x1)

[1, 'inserted', 'inserted', 2, 3, 4, 5, 6]

In [61]:
x2 = tuple(x1)
print(x2)

(1, 'inserted', 'inserted', 2, 3, 4, 5, 6)

# set

In [67]:
s = {1,2,3,3,3,4,4,4,5,"raj",5,1,1,4,5,3,"raj"}

In [68]:
s

{1, 2, 3, 4, 5, 'raj'}

In [71]:
# or
s = set([1,2,3,3,3,4,4,4,5,"raj",5,1,1,4,5,3,"raj",4+5j,55.5,53,6,True])
s

{(4+5j), 1, 2, 3, 4, 5, 53, 55.5, 6, 'raj'}

In [72]:
#can not access the data through index
s[2]

TypeError: 'set' object does not support indexing

In [73]:
# so need to iterate it 
for x in s:
    print(x)

1
2
3
4
5
6
raj
(4+5j)
53
55.5

In [76]:
# paasing a tuple in a set
d1 = set((1,2,3,4,4,4,5,5,5))
d1

{1, 2, 3, 4, 5}

In [78]:
# can not do slicing in set so,
x4  =  list(d1)
print(x4)

[1, 2, 3, 4, 5]

In [80]:
c = x4[::-1]
c

[5, 4, 3, 2, 1]

In [83]:
b1 = {}
type(b1)

dict

In [85]:
b2 = {4}
type(b2)

set

In [108]:
d2 = {1,2,2,3,4,5,5,6,7,9,7,5,3,6,'tsdf'}
d2

{1, 2, 3, 4, 5, 6, 7, 9, 'tsdf'}

In [109]:
d2.add('raj')            #added data at -2 place
d2

{1, 2, 3, 4, 5, 6, 7, 9, 'raj', 'tsdf'}

In [110]:
d2.add("rsfsdf")
d2

{1, 2, 3, 4, 5, 6, 7, 9, 'raj', 'rsfsdf', 'tsdf'}

In [111]:
d2.add(3,"rasss")     #can not add at a paerticular index

TypeError: add() takes exactly one argument (2 given)

In [113]:
d2.pop()     #takes no argument and remove a data from left side

2

In [114]:
d2

{3, 4, 5, 6, 7, 9, 'raj', 'rsfsdf', 'tsdf'}

In [116]:
d2.pop()

3

In [117]:
d2

{4, 5, 6, 7, 9, 'raj', 'rsfsdf', 'tsdf'}

In [132]:
# set gives order but not actual sorting         -#not supported list
d3 = {1,3,5,2,5,2,5,88,44,234,542,46,3,6662,2234,4563,8,5,9,8,756,"rajd","$$",[1,2,3,4]}

TypeError: unhashable type: 'list'

In [126]:
d3 = {1,3,5,2,5,2,5,88,44,234,542,46,3,6662,2234,4563,8,5,9,8,756,"rajd","$$"}

In [127]:
d3

{'$$', 1, 2, 2234, 234, 3, 44, 4563, 46, 5, 542, 6662, 756, 8, 88, 9, 'rajd'}

In [128]:
# above thing is in some order but not actually a sorting

In [134]:
c4 = set([2,3,4,5,2,4,[22,44,55,66,67]]) #not ssupported list

TypeError: unhashable type: 'list'

In [140]:
c5 = set(3,4,5,"54","yyr",4+5j)
c5

TypeError: set expected at most 1 arguments, got 6

In [142]:
c5 = set((3,4,5,"54","yyr",4+5j))   # tuples type
c5

{(4+5j), 3, 4, 5, '54', 'yyr'}

In [144]:
c6 = set([3,4,5,"54","yyr",4+5j])  #list type
c6

{(4+5j), 3, 4, 5, '54', 'yyr'}

In [145]:
c7 = set([3,4,5,"54","yyr",4+5j,[3,4,6,6]])   #list in list it isnt taking

TypeError: unhashable type: 'list'

# Dictionary

In [148]:
# synatax = {key:value}
# duplicate keys are not allowed & if entered it wont give any error but updated the value of key by new value

In [150]:
{'name':'Himanshu',"surnmae":"sahu"}

{'name': 'Himanshu', 'surnmae': 'sahu'}

In [152]:
{'name':'himanshu',"surname":'sahu',"name":"xyz"}    #update value of same key with latest one

{'name': 'xyz', 'surname': 'sahu'}

In [164]:
{10:"dhumu",2.5:"vaibhav",3+2j:"himanshu",True:"no"}         #int as a key

{10: 'dhumu', 2.5: 'vaibhav', (3+2j): 'himanshu', True: 'no'}

In [165]:
{True:"yes"}

{True: 'yes'}

In [259]:
var = {"x":[1,2,3,5], "y":[1,2,3,4,5,[8,7,6,5]], "z":(1,2,3,4,5),'l':{1,2,3,4,66},'m':{"k1":"5","k2":"6"}}
var

{'x': [1, 2, 3, 5],
 'y': [1, 2, 3, 4, 5, [8, 7, 6, 5]],
 'z': (1, 2, 3, 4, 5),
 'l': {1, 2, 3, 4, 66},
 'm': {'k1': '5', 'k2': '6'}}

In [202]:
# accesing the data through the dict
var['y']

[1, 2, 3, 4, 5, [8, 7, 6, 5]]

In [203]:
var['y'][5]

[8, 7, 6, 5]

In [204]:
var['y'][5][2]

6

In [205]:
var["m"]

{'k1': '5', 'k2': '6'}

In [206]:
var['z']

(1, 2, 3, 4, 5)

In [207]:
var['z'][3]

4

In [208]:
var['l']

{1, 2, 3, 4, 66}

In [209]:
var['m']

{'k1': '5', 'k2': '6'}

In [210]:
type(var["m"])

dict

In [211]:
var["m"]['k2']

'6'

In [216]:
for i in var:
    print(i)

x
y
z
l
m

In [217]:
for i in var:
    print(var[i])

[1, 2, 3, 5]
[1, 2, 3, 4, 5, [8, 7, 6, 5]]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 66}
{'k1': '5', 'k2': '6'}

In [244]:
for i in var.keys():
    print(var[i])

[1, 2, 3, 5]
[1, 2, 3, 4, 5, [8, 7, 6, 5]]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 66}
{'k1': '5', 'k2': '6'}

In [218]:
var.keys()

dict_keys(['x', 'y', 'z', 'l', 'm'])

In [245]:
var.values()

dict_values([[1, 2, 3, 5], [1, 2, 3, 4, 5, [8, 7, 6, 5]], (1, 2, 3, 4, 5), {1, 2, 3, 4, 66}, {'k1': '5', 'k2': '6'}])

In [251]:
for i in var.values():
    print(i)

[1, 2, 3, 5]
[1, 2, 3, 4, 5, [8, 7, 6, 5]]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 66}
{'k1': '5', 'k2': '6'}

In [223]:
var.copy()

{'x': [1, 2, 3, 5],
 'y': [1, 2, 3, 4, 5, [8, 7, 6, 5]],
 'z': (1, 2, 3, 4, 5),
 'l': {1, 2, 3, 4, 66},
 'm': {'k1': '5', 'k2': '6'}}

In [241]:
var.get('m')

{'k1': '5', 'k2': '6'}

In [268]:
# getting only tuples data
var.get('z')

(1, 2, 3, 4, 5)

In [269]:
type(var['z'])

tuple

In [276]:
u = []
for i in var:
    if type(i) == tuple:
        for j in i:
            u.append(j)
u

[]

In [278]:
u = []
for i in var.values():
    if type(i) == tuple:
        for j in i:
            u.append(j)
u

[1, 2, 3, 4, 5]

In [279]:
var

{'x': [1, 2, 3, 5],
 'y': [1, 2, 3, 4, 5, [8, 7, 6, 5]],
 'z': (1, 2, 3, 4, 5),
 'l': {1, 2, 3, 4, 66},
 'm': {'k1': '5', 'k2': '6'}}

In [282]:
# adding the data to the dictionary
var["newkey"] = "this is the value of new key"

In [281]:
var

{'x': [1, 2, 3, 5],
 'y': [1, 2, 3, 4, 5, [8, 7, 6, 5]],
 'z': (1, 2, 3, 4, 5),
 'l': {1, 2, 3, 4, 66},
 'm': {'k1': '5', 'k2': '6'},
 'newkey': 'this is the value of new key'}

In [6]:
di = {}
for i in range(10):
    di[i] = i**2
print(di)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [17]:
{i : i**2 for i in range(10)}            #dictionary comprehension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [14]:
# from list to dict 
li = ["raj","sahu","himanshu","sahu","you"]
d11 = {}
for i in li:
    d11[i] = i.upper()
print(d11)

{'raj': 'RAJ', 'sahu': 'SAHU', 'himanshu': 'HIMANSHU', 'you': 'YOU'}

In [15]:
# isupper function to check the data formate
li = ["raj","sahu","himanshu","sahu","you"]
d11 = {}
for i in li:
    d11[i] = i.isupper()
d11

{'raj': False, 'sahu': False, 'himanshu': False, 'you': False}

In [23]:
lis = [1,2,3,4,"raj",5,6,"amit"]
for i in lis:
    if type(i)== str:
        print(i.upper())

RAJ
AMIT

In [30]:
d11.items()            #item function will return items of dict and give key and values

dict_items([('raj', False), ('sahu', False), ('himanshu', False), ('you', False)])


# function

In [31]:
# python is oops, scripting, functional prigramming language

In [38]:
def test():
#     it is not running because it wants at least an argument

SyntaxError: unexpected EOF while parsing (<ipython-input-38-5d287e34fa81>, line 2)

In [42]:
def test():
    pass                 #without using an argument simply pass the function to run it
test()

In [43]:
test()

In [44]:
type(test())

NoneType

In [41]:
range()          #inbuited range function need an argument to run

TypeError: range expected 1 arguments, got 0

In [37]:
range(2)

range(0, 2)

In [46]:
type(range(2))

range

In [4]:
for i in range(2):
    pass

In [6]:
def test():
    print("this is my first function")

In [2]:
def test():
    x = 8
    y = 6
    print("the value of x+y is",x+y)

In [3]:
test()

the value of x+y is 14

In [7]:
type(test())

this is my first function

NoneType

In [8]:
print(3)

3

In [10]:
type(print(3))   #print always return a none type

3

NoneType

In [11]:
def f_name():
    a = 5
    b = 7
    print(a+b)

In [12]:
f_name()

12

In [13]:
type(f_name())

12

NoneType

In [17]:
# now performing some mathematical operation
f_name()+1                     #f_name type is not defined

12

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [21]:
s = f_name()

12

In [24]:
type(s)    # again it is showing none type

NoneType

In [28]:
# so use retrun function instead of print to do some primitive work or data manipulation becausee it won't give nonetype data
def megh():
    a = "hi"
    b = "Megha"
    return(f'{a} {b}, How r you?')

In [35]:
megh() + " long time no see"

'hi Megha, How r you? long time no see'

In [29]:
type(megh())

str

In [30]:
def lo():
    v = 8 
    u = 9
    return(v+u)

In [31]:
lo()

17

In [32]:
type(lo())

int

In [33]:
lo() + 4

21

In [43]:
# defining a function and passing argumet at run time 
def xuv(t,x):
    return(t+x)

In [37]:
xuv()     #giving error because arguments value is not given

TypeError: xuv() missing 2 required positional arguments: 't' and 'x'

In [62]:
va = xuv(5,5)

In [64]:
va1 = xuv("raj"," sahu")

In [58]:
type(xuv(t,x))

NameError: name 't' is not defined

In [63]:
type(va)

int

In [65]:
type(va1)

str

In [67]:
va2 =xuv([1,2,3,4],[5,6,7,8])

In [68]:
type(va2)

list

In [75]:
# multiple return on single function

In [77]:
def func(m,n):
    return(m+n,m*n,m/n)

In [89]:
xx,yy,zz = func(10,5)

In [87]:
xx

15

In [88]:
yy

50

In [90]:
zz

2.0

In [91]:
list(func(10,5))

[15, 50, 2.0]

In [82]:
tuple(func(10,5))

(15, 50, 2.0)

In [83]:
set(func(10,5))

{2.0, 15, 50}

In [84]:
dict(func(10,5))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [92]:
# i can also pass default argument

In [95]:
def nam1(a,b4 ="raj"):
    return(a+b4)

In [104]:
nam1("raj ")

'raj raj'

In [106]:
nam1("raj ","sahu")  #overriding the default value

'raj sahu'

In [111]:
def funn():
    return("sagar",[1,2,3,4],{"k":"nick","l":"jones"})

In [113]:
funn()                 # this will return the tuple value

('sagar', [1, 2, 3, 4], {'k': 'nick', 'l': 'jones'})

In [116]:
# now i only want to print dictionary so i'll use placeholder
_,_,vv = funn()

In [117]:
vv

{'k': 'nick', 'l': 'jones'}

In [123]:
linew= []
liss = [1,2,3,4,5,5,6,7,8,3,4,[3,4,5,7,5]]
for i in liss:
    if i == 5:
        liss.remove(i)

In [125]:
liss

[1, 2, 3, 4, 5, 6, 7, 8, 3, 4, [3, 4, 5, 7, 5]]

In [128]:
def alarm(set_alarm_timer):
    while True:
        time.sleep(1)
        current_time = datetime.datetime.now()
        now = current_time.strftime("%H:%M:%S")
        date = current_time.strftime("%d/%m/%Y")
        print("The Set Date is:",date)
        print(now)
        if now == set_alarm_timer:
            print("Time to Wake up")
        winsound.PlaySound("sound.wav",winsound.SND_ASYNC)
        break

def actual_time():
    set_alarm_timer = f"{hour.get()}:{min.get()}:{sec.get()}"
    alarm(set_alarm_timer)

In [134]:
import numpy,pandas

In [ ]:
df = pandas.read_csv()