In [1]:
l = (list(range(10)))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
for i in l:
    if i <=4:
        print(i)

0
1
2
3
4

In [3]:
# for else statements
for i in (l):
    print(i)
else:
    print('code completed')

0
1
2
3
4
5
6
7
8
9
code completed

In [4]:
for i in l:
    print(i)
    if i == 4:
        print("break the statement")

else:
    print("something")

0
1
2
3
4
break the statement
5
6
7
8
9
something

In [5]:
for i in l:
    print(i)
    if i == 4:
        print("break the statement")
        break
else:
    print("something")

0
1
2
3
4
break the statement

In [6]:
for i in l:
    print(i)
    if i == 4:
        print("break the statement")
        continue
else:
    print("something")

0
1
2
3
4
break the statement
5
6
7
8
9
something

In [7]:
for i in l:
    print(i)
else:
    print("try to perfrom any operation")
    for i in l:
        print("1 to 4")
        if i == 1:
            break

0
1
2
3
4
5
6
7
8
9
try to perfrom any operation
1 to 4
1 to 4

In [8]:
for i in range(0,7):
    for j in range(0,i+1):
        print("*", end = "")

****************************

In [9]:
for i in range(0,7):
    print('*')

*
*
*
*
*
*
*

In [10]:
for i in range(0,7):
    for j in range(0,i+1):
        print("*", end = " ")

* * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [11]:
for i in range(0,7):
    for j in range(0,i+1):
        print("*", end = "")
        
    print('\r')

*
**
***
****
*****
******
*******

In [12]:
for i in range(0,7):
    for j in range(0,i+1):
        print("*", end = " ")
        
    print('\n')

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

In [13]:
for i in range(0,7):
    for j in range(0,i+1):
        print("*", end = "\n")
        
    print('\n')

*


*
*


*
*
*


*
*
*
*


*
*
*
*
*


*
*
*
*
*
*


*
*
*
*
*
*
*

In [14]:
for i in range(0,7):
    for j in range(0,i+1):
        print("*", end = " ")
        
    print('\n')

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

In [60]:
for i in range(0,6):
    for j in range(0,6-i):
        print(" ", end = "")
    for k in range(j,6):
        print("*", end = " ")
        
    print('\n')

      *

     * *

    * * *

   * * * *

  * * * * *

 * * * * * *

In [15]:
a = 7 
while a <= 7:
    print('this is valid statement')
    a = a + 1
print(a<=6)

this is valid statement
False

In [16]:
a <= 7

False

In [17]:
x = 0 
while x <= 7:
    x = x + 1
    if x == 4:
        continue
    print(x)

1
2
3
5
6
7
8

In [18]:
x = 0 
while x <= 7:
    x = x + 1
    if x == 4:
        break
    print(x)

1
2
3

In [19]:
for i in range(7):
    if i == 4:
        continue
    print(i)
else:
    print("else statement")

0
1
2
3
5
6
else statement

In [20]:
for i in range(7):
    pass

In [21]:
i = 0
add = 0 
while i <= 10:
    add = add + i
    print(add)
    i = i+1

0
1
3
6
10
15
21
28
36
45
55

In [22]:
# sum of n natural numbers
num = int(input("enter any natural number"))
i = 0
sum = 0
while i <= num:
  sum = sum + i
  print(sum)
  i+=1

enter any natural number10
0
1
3
6
10
15
21
28
36
45
55

In [23]:
num  =  int(input("any number"))
i = 0 
add = 0
while i <= num:
    add = add + i
    i = i + 1
print(add)

any number10
55

In [24]:
num  =  int(input("any number"))
i = 0 
add = 0
while i <= num:
    add = add + i
    i = i + 1
    print(add)

any number100
0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [25]:
i = 0 
sum = 0 
while i <= 5:
    sum = sum + i
    print(i)
    i = i+1
print(f'the value of i is {i}')

0
1
2
3
4
5
the value of i is 6

In [26]:
x = 'Himanshu'
for i in x:
    print(i)

H
i
m
a
n
s
h
u

In [27]:
x = 'Himanshu'
for i in x:
    print(x)

Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu

In [28]:
s = "fsd,dfca,dad,dfasd,dadsewd,d,dsa,"

In [29]:
s.split(',')

['fsd', 'dfca', 'dad', 'dfasd', 'dadsewd', 'd', 'dsa', '']

In [30]:
for i in s:
    print(i)

f
s
d
,
d
f
c
a
,
d
a
d
,
d
f
a
s
d
,
d
a
d
s
e
w
d
,
d
,
d
s
a
,

In [31]:
for i in s.split(","):
    print(i)

fsd
dfca
dad
dfasd
dadsewd
d
dsa

In [32]:
var = """Google LLC (/ˈɡuːɡəl/ (listen)) is an American multinational technology company that focuses on search engine technology, online advertising, cloud computing, computer software, quantum computing, e-commerce, artificial intelligence,[9] and consumer electronics. It has been referred to as the "most powerful company in the world" and one of the world's most valuable brands due to its market dominance, data collection, and technological advantages in the area of artificial intelligence.[10][11][12][13] It is considered one of the Big Five American information technology companies, alongside Amazon, Apple, Meta, and Microsoft.

Google was founded on September 4, 1998, by Larry Page and Sergey Brin while they were PhD students at Stanford University in California. Together they own about 14% of its publicly listed shares and control 56% of the stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly owned subsidiary of Alphabet Inc. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet.[14]"""

In [33]:
print(var)

Google LLC (/ˈɡuːɡəl/ (listen)) is an American multinational technology company that focuses on search engine technology, online advertising, cloud computing, computer software, quantum computing, e-commerce, artificial intelligence,[9] and consumer electronics. It has been referred to as the "most powerful company in the world" and one of the world's most valuable brands due to its market dominance, data collection, and technological advantages in the area of artificial intelligence.[10][11][12][13] It is considered one of the Big Five American information technology companies, alongside Amazon, Apple, Meta, and Microsoft.

Google was founded on September 4, 1998, by Larry Page and Sergey Brin while they were PhD students at Stanford University in California. Together they own about 14% of its publicly listed shares and control 56% of the stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly owned subsidiary of Alphabet Inc. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet.[14]

In [34]:
for i in var.split("."):
    print(i)

Google LLC (/ˈɡuːɡəl/ (listen)) is an American multinational technology company that focuses on search engine technology, online advertising, cloud computing, computer software, quantum computing, e-commerce, artificial intelligence,[9] and consumer electronics
 It has been referred to as the "most powerful company in the world" and one of the world's most valuable brands due to its market dominance, data collection, and technological advantages in the area of artificial intelligence
[10][11][12][13] It is considered one of the Big Five American information technology companies, alongside Amazon, Apple, Meta, and Microsoft


Google was founded on September 4, 1998, by Larry Page and Sergey Brin while they were PhD students at Stanford University in California
 Together they own about 14% of its publicly listed shares and control 56% of the stockholder voting power through super-voting stock
 The company went public via an initial public offering (IPO) in 2004
 In 2015, Google was reorganized as a wholly owned subsidiary of Alphabet Inc
 Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet properties and interests
 Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet
 On December 3, 2019, Pichai also became the CEO of Alphabet
[14]

In [35]:
var.split(".")[-2]

' On December 3, 2019, Pichai also became the CEO of Alphabet'

In [36]:
s

'fsd,dfca,dad,dfasd,dadsewd,d,dsa,'

In [37]:
a = "himanshu"

In [38]:
a.join("z")

'z'

In [39]:
a.join("zr")

'zhimanshur'

In [40]:
a.join("zrx")

'zhimanshurhimanshux'

In [41]:
a

'himanshu'

In [42]:
for i in "zrx":
    print(i+a)

zhimanshu
rhimanshu
xhimanshu

In [43]:
for i in "zrx":
    a = i + a
    print(a)

zhimanshu
rzhimanshu
xrzhimanshu

In [44]:
for i in "zrx":
    a = a + i
    print(a)

xrzhimanshuz
xrzhimanshuzr
xrzhimanshuzrx

In [45]:
t = ("ram","ram","ji")
b = "-".join(t)

In [46]:
b

'ram-ram-ji'

In [61]:
l = [1,2,3,4,5,6,7]

In [62]:
l.append([9,8,7])

In [63]:
l

[1, 2, 3, 4, 5, 6, 7, [9, 8, 7]]

In [64]:
l + [9,8,7]

[1, 2, 3, 4, 5, 6, 7, [9, 8, 7], 9, 8, 7]

In [65]:
l.extend("raj")
l

[1, 2, 3, 4, 5, 6, 7, [9, 8, 7], 'r', 'a', 'j']

In [66]:
l.extend(456)

TypeError: 'int' object is not iterable

In [69]:
l.extend((4,5,6))
l

[1, 2, 3, 4, 5, 6, 7, [9, 8, 7], 'r', 'a', 'j', 4, 5, 6, 4, 5, 6]

In [70]:
l.insert(2, "raj")
l

[1, 2, 'raj', 3, 4, 5, 6, 7, [9, 8, 7], 'r', 'a', 'j', 4, 5, 6, 4, 5, 6]

In [71]:
l.remove("raj")

In [72]:
l

[1, 2, 3, 4, 5, 6, 7, [9, 8, 7], 'r', 'a', 'j', 4, 5, 6, 4, 5, 6]

In [73]:
l.pop(-1)

6

In [74]:
l

[1, 2, 3, 4, 5, 6, 7, [9, 8, 7], 'r', 'a', 'j', 4, 5, 6, 4, 5]